[Desktop Entry]
Name=ictrlquotes
GenericName=ICTRL Quotes
Comment=Quotes from (in)famous icrtl people
Exec=ictrlquotes
Icon=/usr/share/pixmaps/ictrlquotes.png
Terminal=false
Type=Application
StartupNotify=false
Categories=Utility;
