Package: ictrlquotes
Version: 0.1-1
Architecture: i386
Maintainer: Andreas Schulz <andi.schulz@me.com>
Installed-Size: 39
Depends: python-qt4, python-sqlalchemy, python-mysqldb
Section: misc
Priority: extra
Description: Wow
 Such quotes
 very ictrl
 many fun
